.character-grid {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Adjusted grid */
  margin: 0 20px; /* Add margin to the left and right sides of the grid */
}

.character-card {
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 20px #0000001a;
  color: #333;
  display: flex;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition */
}

.character-card:hover {
  transform: translateY(-5px); /* Adjusted hover effect */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Adjusted box shadow on hover */
}

.character-thumbnail {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: auto;
  object-fit: cover;
  width: 40%;
}

.character-info {
  flex-grow: 1; /* Allow the info section to expand to fill remaining space */
  padding: 20px;
}

.character-name {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.character-status {
  font-size: 1rem;
  margin-bottom: 5px;
}

.character-species {
  font-size: 0.9rem;
  color: #777;
}

.skeleton-loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skeleton-loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skeleton-card {
  width: calc(33.33% - 20px); /* Adjust width to fit three cards in one row */
  margin-bottom: 20px; /* Add margin between cards */
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
}

.skeleton-thumbnail,
.skeleton-info {
  opacity: 0.5; /* Set opacity to make the skeleton UI appear faded */
}

.skeleton-thumbnail {
  width: 40%;
  height: 100%;
}

.skeleton-info {
  padding: 20px;
}

.skeleton-name,
.skeleton-status,
.skeleton-species {
  width: 100%;
  height: 16px;
  background-color: #d9d9d9;
  margin-bottom: 8px;
}




@media screen and (max-width: 768px) {
  .character-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Change to two columns on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .character-grid {
    grid-template-columns: repeat(1, minmax(250px, 1fr)); /* Change to one column on even smaller screens */
  }
}
